.store {
  float: left;
  width: 30%;
  padding-left: 40%;
  padding-top: 0;

  h1 {
    font-family: $font-header;
  }

  ul {
    background: $color-background-cart;

    h2 {
      font-weight: bolder;
    }

    h3 {
      font-weight: normal;
    }

    button {
      box-sizing: border-box;
      border: none;
      border-radius: 5rem;
      padding: .25rem;
      margin: .15rem;
      background: $color-primary-2;
      color: $color-text-button;
    }
  }
}
