$font-header: 'Shrikhand', cursive;
$font-body: 'Noto Sans', sans-serif;

$color-background-cart: rgba(#ffffff, 0.50);

$color-primary-0: #F2525A;	// Main Primary color */
$color-primary-1: #FCDCDE;
$color-primary-2: #FB9298;
$color-primary-3: #F4131E;
$color-primary-4: #CE000A;

$color-complement-0: #51CA45;	// Main Complement color */
$color-complement-1: #C9E4C7;
$color-complement-2: #87DA7F;
$color-complement-3: #22CB10;
$color-complement-4: #10AB00;

$color-text-button: black;
